<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <title>Zong Zheng Li</title>
    <script data-require="angular.js@*" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.min.js"></script>
    <script data-require="angular-animate@*" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular-animate.min.js"></script>
    <script type="text/javascript" src="script/content.js"></script>
    <script type="text/javascript" src="script/controller.js"></script>
    <script type="text/javascript" src="script/tracker.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="css/reset.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body ng-controller="controller">
    <div id="main">
        <div id="left">
            <div ng-repeat="page in pages" ng-show="activeId == page.id" class="fadein fadeout">
                <div id="fg" ng-show="page.hasFg" >
                    <img class="centered" ng-src="{{page.fg}}" />
                </div>
                <div id="bg">
                    <img ng-src="{{page.bg}}" />
                </div>
            </div>
        </div>

        <div id="right">
            <div id="right-inner">

                <hr>
                <input type="button" ng-repeat="page in pages" ng-value="page.title" ng-click="changePage(page.id)" ng-class="{selected: activeId == page.id}" />

                <div id="page-outer">
                    <div ng-repeat="page in pages" ng-show="activeId == page.id" class="fadein fadeout">

                        <div id="page">
                            <hr>
                            <div id="links">
                                <a ng-repeat="link in page.links" ng-bind="link.text" ng-href="{{link.url}}" target="_blank">
                                </a>
                            </div>

                            <div id="description">
                                <p ng-bind-html="page.description"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
